body {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.btn.btn-primary {
  background-color: #4aa3df;
  border-color: #4aa3df;
  color: #000; }
  .btn.btn-primary:hover {
    background-color: #75b9e7; }

.btn.btn-pill .mdl2 {
  vertical-align: middle; }

a {
  color: #4aa3df; }
  a:hover {
    color: #196090;
    text-decoration: none; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4; }

.carousel-inner {
  /* Make .svg files in the carousel display properly in older browsers */ }
  .carousel-inner .item img[src$=".svg"] {
    width: 100%; }
  .carousel-inner .item img {
    height: 300px;
    width: 100%; }

.container-inner {
  margin-left: 2%;
  margin-right: 2%; }

.text-ribbon-info {
  background-color: #4aa3df; }

.hr-divider {
  margin-bottom: 1em; }

.hr-divider-heading {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1; }
  .hr-divider-heading .mdl2 {
    vertical-align: middle; }

.brand-item {
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px; }
  .brand-item:first-child {
    margin-left: 0; }

.brand-list {
  margin: 0;
  padding: 0; }
  .brand-list li {
    display: inline-block;
    text-align: left;
    padding-left: 40px; }
    .brand-list li:first-child {
      padding-left: 0; }

.client-list img {
  /*max-width: 50%;
        max-height: 50%;
        width: 50%;
        height: 50%;*/ }

.navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  font-family: "Poppins", sans-serif; }

.navbar-default {
  background-color: #2B2B2B;
  border-color: #2B2B2B;
  padding: 10px 0; }
  .navbar-default .navbar-brand {
    padding: 5px 15px; }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    width: 100px; }
    .navbar-default .navbar-nav > li > a:hover {
      color: #4aa3df; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #4aa3df;
    background-color: transparent;
    border-bottom: 1px solid #4aa3df; }

.site_footer {
  background-color: #2B2B2B;
  color: #fff;
  padding: 10px 0 10px 0;
  font-size: 12px;
  height: 60px; }
  .site_footer .panel-link-list {
    float: none; }
    .site_footer .panel-link-list a {
      display: inline-block;
      padding-bottom: 10px;
      padding-left: 10px; }
      .site_footer .panel-link-list a:before {
        content: '|';
        padding-right: 10px; }
  .site_footer a {
    color: #fff; }
    .site_footer a:hover {
      color: #4aa3df;
      text-decoration: none; }
  .site_footer .social {
    margin-bottom: 20px;
    font-size: 14px; }
    .site_footer .social > li > a:hover {
      color: #4aa3df;
      text-decoration: none; }

.list-padded li {
  margin-bottom: 10px; }

.text-vertical-middle {
  vertical-align: middle; }

section.anchor-ref:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden; }

.featured-list-header {
  font-size: 24px;
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
  margin-top: 20px;
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .navbar-default .navbar-toggle {
    border-color: #fff;
    color: #fff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #4aa3df;
      color: #fff; }
      .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #fff; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-default .navbar-nav {
    margin: 0px -15px;
    background: #2B2B2B; }
    .navbar-default .navbar-nav > li > a {
      color: #fff; }
      .navbar-default .navbar-nav > li > a:hover {
        color: #4aa3df; }
      .navbar-default .navbar-nav > li > a .open .dropdown-menu > li > a {
        color: #eee; }
        .navbar-default .navbar-nav > li > a .open .dropdown-menu > li > a:hover {
          color: #4aa3df; }
  .carousel-inner .item img {
    height: 200px; } }

@media (min-width: 767px) {
  body {
    margin-bottom: 55px; }
  .navbar-default .navbar-nav > li > a {
    text-align: center; }
  .site_footer {
    height: 55px;
    font-size: 14px;
    padding: 15px 0; }
    .site_footer .panel-link-list {
      float: right; }
    .site_footer .social {
      font-size: 18px; } }