<footer class="navbar-fixed-bottom site_footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p>
                    The next step in software development.
                </p>
            </div>
            <div class="col-xs-6">
                <div class="panel-link-list">
                    &copy; {{ site.time | date: '%Y' }}
                    <a href="http://devevolved.net/privacy" title="Privacy">Privacy</a>
                </div>

                <ul class="list-inline social">
                    <li><a href="http://www.facebook.com/devevolved" title="Facebook"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="http://twitter.com/devevolvedHQ" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.linkedin.com/company/devevolved" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
