<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}

{% if author.bio %}
<div class="well well-sm author-card">
    <div class="author-card-title">About {{author.name}}</div>
    {% if author.image %}
    <img src="{{author.image}}" class="img-circle pull-left m-a-1">
    {% endif %}
    <p>{{ author.bio }}</p>
    <ul class="list-inline social">
        {% if author.github %}
        <li><a href="{{author.github}}" title="GitHub"><i class="fa fa-github fa-1x"></i></a></li>
        {% endif %}
        {% if author.twitter %}
        <li><a href="{{author.twitter}}" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
        {% endif %}
        {% if author.facebook %}
        <li><a href="{{author.facebook}}" title="Facebook"><i class="fa fa-facebook-official fa-1x"></i></a></li>
        {% endif %}
        {% if author.linkedin %}
        <li><a href="{{author.linkedin}}" title="LinkedIn"><i class="fa fa-linkedin-square fa-1x"></i></a></li>
        {% endif %}
        {% if author.stackoverflow %}
        <li><a href="{{author.stackoverflow}}" title="StackOverflow"><i class="fa fa-stack-overflow fa-1x"></i></a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
